ruta = "@@rutaUrlUsuarios"
doctype 5
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title #{title}
        meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1.0")
        meta(name="apple-mobile-web-app-capable", content="yes")
        block css
            link(rel='stylesheet', href=ruta+'/css/users/slider.css')
            link(rel='stylesheet', href=ruta+'/css/users/style.css')


        script(type='text/javascript')
            var eventos =!{JSON.stringify(array_eventos)}
        block js
            script(src=ruta+'/components/modernizr/modernizr.js')
            script(src=ruta+'/components/jquery/dist/jquery.min.js')
            script(src=ruta+'/components/jquery-textfill/source/jquery.textfill.min.js')
            script(src=ruta+'/js/users/bootstrap-maxlength.js')



            script(src=ruta+'/components/sass-bootstrap/dist/js/bootstrap.min.js')

            script(src=ruta+'/socket.io/socket.io.js')


            script(src=ruta+'/components/quojs/quo.js')
            script(src=ruta+'/components/quojs/quo.ajax.js')
            script(src=ruta+'/components/quojs/quo.css.js')
            script(src=ruta+'/components/quojs/quo.element.js')
            script(src=ruta+'/components/quojs/quo.environment.js')
            script(src=ruta+'/components/quojs/quo.events.js')
            script(src=ruta+'/components/quojs/quo.gestures.js')
            script(src=ruta+'/components/quojs/quo.output.js')
            script(src=ruta+'/components/quojs/quo.query.js')



            script(src=ruta+'/components/sass-bootstrap/js/modal.js')
            script(src=ruta+'/js/users/conexionSocket.js')
            script(src=ruta+'/js/users/client.js')
    body
        block content


